<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LMFS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LMFS.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>d:\CN_GWORK\LMFS\</value>
            </setting>
            <setting name="KeyCloakUrl" serializeAs="String">
                <value>http://118.217.247.240:18080</value>
            </setting>
            <setting name="RedirectUri" serializeAs="String">
                <value>http://127.0.0.1:7890/</value>
            </setting>
            <setting name="RealmId" serializeAs="String">
                <value>cn_gwork</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>cn_lmfs</value>
            </setting>
            <setting name="AutoUpdateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DbHostIP" serializeAs="String">
                <value>118.217.247.240</value>
            </setting>
            <setting name="DbHostPort" serializeAs="String">
                <value>13306</value>
            </setting>
            <setting name="DbUserId" serializeAs="String">
                <value>cn_usr</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value>cn#2108$99</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>cn_lmfs</value>
            </setting>
        </LMFS.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="dll" />
        </assemblyBinding>
    </runtime>
</configuration>